          
name: Python application test with Github Actions

on:
  push:
    branches: [ branch1,branch2,main]
  pull_request:
    branches: [ branch1,branch2,main]
    types: [ opened, synchronize,closed,merged ]

jobs:
  build:
    if: (github.event_name == 'pull_request' && github.base_ref == 'main' && github.event.pull_request.merged || github.event.pull_request.closed)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10.10
        uses: actions/setup-python@v1
        with:
          python-version: 3.10.10
      - name: Install dependencies
        run: |
          make install
      - name: Black Formatter
        run: |
          make format
      - name: Lint
        run: |
          make lint


        
        
